body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 350px;
  background-color: #f7f7f7;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.container h1 {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid gray;
  font-size: 14px;
  outline: none;
}

button {
  width: 120px;
  margin: auto;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: darkgreen;
}

.success {
  color: green;
  font-weight: bold;
  margin-top: 20px;
}

.users {
  margin-top: 20px;
  background-color: #dfe9dd;
  padding: 20px;
  text-align: left;
}

.users h3 {
  text-align: center;
}